
  
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Product</h2>
              </div>
            </div>
            {{#each product}}
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/edit-product" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                  <div class="form-group mb-3">
                    <label for="name">Product Name</label>
                    <input id="name"  name="name" type="text" value="{{this.product}}" class="form-control validate"required/>
                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <input id="name"  name="description" type="text" value="{{this.description}}" class="form-control validate"required  />
                  </div>
                  <div class="form-group mb-3">
                    <label for="name">Category</label>
                    <input id="name"  name="category" type="text" value="{{this.category}}" class="form-control validate"required/>
                    <input type="text" name="id" value="{{this._id}}" hidden>
                  </div>
                  {{/each}}
                  <div class="form-group mb-3">
                   <label for="category">Sub Category</label>
                    <select name="subcategory"
                      class="custom-select tm-select-accounts"  id="category">
                      <option value="{{product.[0].subctagoryId}}" selected>{{product.[0].subcategory}}</option>
                       {{#each category}}
                      <option value="{{this._id}}">{{this.category}}</option>
                        {{/each}}
                    </select>
                    <label for="category">Brand</label>
                    <select name="brand"
                      class="custom-select tm-select-accounts"  id="category">
                      <option value="{{product.[0].brandId}}" selected>{{product.[0].brand}}</option>
                       {{#each brand}}
                      <option value="{{this._id}}">{{this.brand}}</option>
                      {{/each}}
                     
                    </select>
                  </div>
                  
                  
                  {{#each product}}
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="expire_date"
                            >Size
                          </label>
                          <input
                            id="expire_date"
                            name="size"
                            value="{{this.size}}"
                            type="text"
                            class="form-control validate"
                            data-large-mode="true"
                          />
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            >Stock
                          </label>
                          <input
                            id="stock"
                            name="stock"
                            value="{{this.stock}}"
                            type="text"
                            class="form-control validate"
                            required
                          />
                        </div>
                  </div>
                  
                 </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4 d-flex-column">
                 <div class="d-flex">
                 <div class="tm-product-img-dummy mx-3 ">
                  <img src="{{this.urls.[0]}}" alt="" style="width: 55px; height:82px;">
                 </div>
                 <div class="tm-product-img-dummy mx-3">
                   <img src="{{this.urls.[1]}}" alt="" style="width: 55px; height:82px;">
                 </div>
                  <div class="tm-product-img-dummy mx-3">
                   <img src="{{this.urls.[2]}}" alt="" style="width: 55px; height:82px;">
                 </div>
                  <div class="tm-product-img-dummy mx-3">
                    <img src="{{this.urls.[3]}}" alt="" style="width: 55px; height:82px;">
                
                 </div>
                 </div>
                 <div class="custom-file mt-3 mb-3">
                  
                  <input id="fileInput" type="file" name="images" multiple />
                  {{!-- <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE" /> --}}
                 </div>
                
                 <div class="form-group mb-3 mt-5 col-xs-12 col-sm-6">
                  <label for="stock">Original Price</label>
                  <input id="stock" name="orgprice" type="text" value="{{this.originalprice}}" class="form-control validate"required/>
                 </div>
                 <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">After Discount</label>
                  <input id="stock" name="disprice" type="text" value="{{this.discountprice}}" class="form-control validate"required/>
                  </div>
                </div>
              
              
                 <div class="col-12">
                 <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
                 </div>
               </form>
            </div>
             {{/each}}
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
        </div>
    </footer> 
{{!-- 
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script> --}}
 

