<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="./index.html">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <form action="/products" method="get">
              <input type="text" placeholder="Search..." name="search">
              <button type="submit"><span class="icon_search"></span></button>
            </form>
          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        {{#each categories}}
                        <li><a href="/products?categoryId={{this._id}}">{{this.category}}</a></li>
                        {{/each}}

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                </div>
                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="shop__sidebar__brand">
                      <ul>
                        {{#each brands}}
                        <li><a href="/products?brandId={{this._id}}">{{this.brand}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="shop__product__option">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__left">
                <p>Showing 1–9 of {{proCount}} results</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__right">
                <p>Sort by Price:</p>
                <div class="dropdown">
                  <button class=" dropdown-toggle border-0 opacity-25" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" onclick="sort(1)">Low - High</a></li>
                    <li><a class="dropdown-item" onclick="sort(-1)">High - Low</a></li>
                    {{!-- href="?sort=1" --}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{#each products}}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="/products/view-product/{{this._id}}" class="image">
                  <img class="pic-1" src="{{this.urls.[0]}}">
                  <img class="pic-2" src="{{this.urls.[1]}}">
                </a>
                <ul class="product-links">
                  <li><a href="/add-to-cart/{{this._id}}"><i class="fa fa-shopping-cart"></i></a></li>
                  {{#if this.wishlist}}
                  <li><a class="bg-danger" href="/add-to-wishlist/{{this._id}}"><i class="far fa-heart"></i></a></li>
                  {{else}}
                  <li><a class="" href="/add-to-wishlist/{{this._id}}"><i class="far fa-heart"></i></a></li>
                  {{/if}}
                  {{!-- <li><a href="#"><i class="fa fa-random"></i></a></li>
                  <li><a href="#"><i class="fa fa-search"></i></a></li> --}}
                </ul>
              </div>
              <div class="product-content">
                <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="far fa-star"></li>
                </ul>
                <h3 class="title"><a href="/products/view-product/{{this._id}}">{{this.product}}</a></h3>
                {{!-- {{#eq this.categoryDiscount 0}}
                {{else}}

                <div class="price">Rs.{{this.discountprice}}</div>
                {{/eq}}
                {{#eq this.productDiscount 0}}
                {{/eq}} --}}
                {{#gt this.productDiscount this.categoryDiscount}}
                <div class="price1"> <del> Rs.{{this.originalprice}} </del> <span
                    style="color: black;">({{this.productDiscount}}% OFF)</span></div>
                <div class="price">Rs.{{this.discountprice}}</div>
                {{else}}
                {{#gt this.categoryDiscount this.productDiscount}}
                <div class="price1"> <del> Rs.{{this.originalprice}} </del> <span
                    style="color: black;">({{this.categoryDiscount}}% OFF)</span></div>
                <div class="price">Rs.{{this.discountprice}}</div>
                {{else}}
                {{#eq this.categoryDiscount this.productDiscount}}
                <div class="price1"> <del> Rs.{{this.originalprice}} </del> <span
                    style="color: black;">({{this.productDiscount}}% OFF)</span></div>
                <div class="price">Rs.{{this.discountprice}}</div>
                {{/eq}}
                {{/gt}}
                {{/gt}}
                {{!-- {{#eq this.categoryDiscount this.productDiscount}}
                <div class="price1"> <del> Rs.{{this.originalprice}} </del> <span
                    style="color: black;">({{this.productDiscount}}% OFF)</span></div>
                <div class="price">Rs.{{this.discountprice}}</div>
                {{/eq}} --}}
                {{!-- {{#gt this.categoryDiscount this.productDiscount}}
                <div class="price1"> <del> Rs.{{this.originalprice}} </del> <span
                    style="color: black;">({{this.categoryDiscount}}% OFF)</span></div>
                {{/gt}}

                <div class="price">Rs.{{this.discountprice}}</div> --}}
              </div>
            </div>
          </div>
          {{/each}}


        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="product__pagination">
              {{#each page}}
              <a class="active" href="/products?&p={{this}}">{{this}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{!-- <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img src="img/xfooter-logo.png.pagespeed.ic.5uVqqRC5Fm.png" alt=""
                data-pagespeed-url-hash="1608828517"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
          </div>
          <p>The customer is at the heart of our unique business model, which includes design.</p>
          <a href="#"><img src="img/xpayment.png.pagespeed.ic.jyKRwIPdRp.png" alt=""
              data-pagespeed-url-hash="1705052078"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h6>Shopping</h6>
          <ul>
            <li><a href="#">Clothing Store</a></li>
            <li><a href="#">Trending Shoes</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Sale</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h6>Shopping</h6>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">Delivary</a></li>
            <li><a href="#">Return & Exchanges</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>NewLetter</h6>
          <div class="footer__newslatter">
            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
            <form action="#">
              <input type="text" placeholder="Your email">
              <button type="submit"><span class="icon_mail_alt"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer__copyright__text">

          <p>Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
          </p>

        </div>
      </div>
    </div>
  </div>
</footer> --}}


<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>


{{!-- <script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js+jquery.nice-select.min.js.pagespeed.jc.ekxuW4by58.js"></script>
<script>eval(mod_pagespeed_JZzsHwPKPa);</script>
<script>eval(mod_pagespeed_yAX9X7dlYR);</script>
<script
  src="js/jquery.nicescroll.min.js+jquery.magnific-popup.min.js+jquery.countdown.min.js.pagespeed.jc.nQBr1vqAX8.js"></script>
<script>eval(mod_pagespeed_ICtRagVbiv);</script>
<script>eval(mod_pagespeed_0Tm96Yey2q);</script>
<script>eval(mod_pagespeed__0kegk3Rgl);</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
  integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
  data-cf-beacon='{"rayId":"74447af8bbb16ee2","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.8.1","si":100}'
  crossorigin="anonymous"></script> --}}


  {{!-- //sweet alert --}}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

  function sort(number) {

    let url = new URL(window.location.href);
    
    let params = new URLSearchParams(url.search);
    
    params.set('sort', number);
    let newParams = params.toString();
    
    location.href = window.location.protocol + "//" + window.location.host + '/products?' + newParams;
  }
</script>