

<div class="container mt-5 mb-5">
  {{#with products}}
  <div class="card">
    <div class="row g-0 singleproduct">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div id="main_image" >
            <img src="{{this.urls.[0]}}" id="main_product_image" />
          </div>
          <div class="thumbnail_images">
            <ul id="thumbnail">
              <li><img onclick="changeImage(this)" src="{{this.urls.[0]}}" width="70" /></li>
              <li><img onclick="changeImage(this)" src="{{this.urls.[2]}}" width="70" /></li>
              <li><img onclick="changeImage(this)" src="{{this.urls.[3]}}" width="70" /></li>
              <li><img onclick="changeImage(this)" src="{{this.urls.[1]}}" width="70" /></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{this.product}}</h3>
            <a href="/add-to-wishlist/{{this._id}}"><i class="far fa-heart"></i></a>  
          </div>
          <div class="mt-2 pr-3 content">
            <p>{{this.description}}</p>
          </div>
          <span class="fs-3 pr-2">Rs.{{this.discountprice}} </span> <span> <del class="text-secondary">Rs.{{this.originalprice}}</del></span>
          <span class="text-success fw-bold">{{this.productOffer}} %off</span> 
          <p class="fw-bold pt-3">Category: {{this.subcategory}}</p>
          <p class="fw-bold"> Brand: {{this.brand}}</p>

          {{!-- <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span>441 reviews</span>
          </div> --}}
          <div class="mt">
            <span class="fw-bold">Size: {{this.size}}</span>  
          </div>
          <div class="buttons d-flex flex-row mt-5 gap-3 col-12 ">
            {{#if ../isWishlist}}
            <a href="/add-to-wishlist/{{this._id}}"><button class="btn btn-outline-dark col-12">Remove from Wishlist</button></a>
            {{else}}
            <a href="/add-to-wishlist/{{this._id}}"><button class="btn btn-outline-dark">Add to Wishlist</button></a>
            {{/if}}
            <button class="btn btn-dark" onclick="addToCart(event,'{{this._id}}')">Add to Cart</button>
          </div>
          {{!-- <div class="search-option">
            <i class="bx bx-search-alt-2 first-search"></i>
            <div class="inputs"> <input type="text" name="" /> </div>
            <i class="bx bx-share-alt share"></i>
          </div> --}}
        </div>
      </div>
    </div>
  </div>
{{/with}}
</div>

<script>
  function addToCart(event, id) {
    console.log(id)
    event.preventDefault();
    $.ajax({
      url: '/add-to-cart',
      data: {
        productId: id
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          let count=document.getElementById('cart');
          count.textContent=1+Number(count.textContent)
          console.log(count)
          
          // Alert the copied text
          Toastify({
            text: "Product added to cart",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              // background: "linear-gradient(to right, #485563, #29323c)",
              background: "black",
            },
            onClick: function () { } // Callback after click
          }).showToast();
        } else {
          location.href = '/login'

        }

      }
    });
  }
</script>
