{{!-- user address page --}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <ul class="user-profile">
                <li class="pt-5"> <a href="/user-profile"
                        class="nav-link btn btn-dark btn-black-default-hover active ">Profile</a></li>
                <li class="pt-2"> <a href="/orders-list"
                        class="nav-link btn btn-dark btn-black-default-hover active">Orders</a></li>
                <li class="pt-2"> <a href="/wishlist"
                        class="nav-link btn btn-dark btn-black-default-hover active">Wishlist</a></li>
                <li class="pt-2"> <a href="/user-all-address"
                        class="nav-link btn btn-dark btn-black-default-hover active">Address</a></li>
                <li class="pt-2"> <a href="/Wallet"
                        class="nav-link btn btn-dark btn-black-default-hover active">Wallet</a></li>



            </ul>


        </div>

        <div class="col-sm-12 col-md-9 col-lg-9">
            <main class="content">
                <div class="container">
                    <div class="main-body">
                        <div class="row">
                            <div class="col-lg-4">
                                {{#with user}}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                                                class="rounded-circle p-1 bg-primary" width="110">
                                            <div class="mt-3">
                                                <h4>{{this.name}}</h4>
                                                <p class="text-secondary mb-1">{{this.email}}</p>


                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <ul class="list-group list-group-flush">
                                            <span class="ms-5 fw-bold">Refer and Earn <i class="fa-solid fa-sack-dollar"
                                                    style="color:green"></i> ₹100</span>
                                            <input class="mt-3" type="text" value="{{this.referralcode}}" id="myInput">
                                            <button class="btn btn-dark mt-2" onclick="myFunction()"
                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Copy">Copy</button>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <form id="profileupdate" action="/update-profile" method="post">
                                            <div class="row mb-3">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Full Name</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    <input type="text" class="form-control" placeholder="Name"
                                                        value="{{this.name}}" name="name">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Email</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    <input type="email" class="form-control" placeholder="Enter email "
                                                        value="{{this.email}}" name="email">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Phone</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter your Mobile number" value="{{this.mobile}}"
                                                        name="mobile">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-9 text-secondary">
                                                    <input type="submit" class="btn btn-dark px-4" value="Save Changes">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {{/with}}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="col-xl-3 col-lg-3">
                                                <button class="btn btn-dark mt-3 ms-1" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    Reset Password
                                                </button>
                                            </div>
                                            <div class="card-body">
                                                <div class="collapse" id="collapseExample">
                                                    <div class="card card-body">
                                                        <form id="changePassword" action="" method="post">
                                                            <div class="d-flex justify-content-center">
                                                                <span class="ms-5 text-danger" id="error"></span>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-sm-3">
                                                                    <h6 class="mb-0">Current Password</h6>
                                                                </div>
                                                                <div class="col-sm-9 text-secondary">
                                                                    <input type="password" class="form-control"
                                                                        placeholder="Current Password" value=""
                                                                        name="currentPassword">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-sm-3">
                                                                    <h6 class="mb-0">New Password</h6>
                                                                </div>
                                                                <div class="col-sm-9 text-secondary">
                                                                    <input type="password" class="form-control"
                                                                        placeholder="New Password" value=""
                                                                        name="newPassword">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-sm-3">
                                                                    <h6 class="mb-0">Confirm Password</h6>
                                                                </div>
                                                                <div class="col-sm-9 text-secondary">
                                                                    <input type="password" class="form-control"
                                                                        placeholder="Confirm Password" value=""
                                                                        name="confirm">
                                                                </div>
                                                            </div>

                                                            <div class="row mb-3">
                                                                <div class="col-sm-3">
                                                                    <button
                                                                        class="btn btn-dark btn-black-default-hover">Submit</button>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="row">
                    {{#with user}}
                    <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                                class="rounded-circle mt-5" width="150px"
                                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                                class="font-weight-bold">{{this.name}}</span><span
                                class="text-black-50">{{this.email}}</span><span>
                            </span></div>

                        <span class="ms-5 ">Refer and Earn <i class="fa-solid fa-sack-dollar" style="color:green"></i>
                            ₹100</span>
                        <input type="text" value="{{this.referralcode}}" id="myInput">
                        <button class="btn-primary" onclick="myFunction()" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Copy">Copy</button>
                    </div>
                    <div class="col-md-7 border-right d-flex justify-content-center">
                        <div class="p-3 py-5">
                            <form id="profileupdate" action="/update-profile" method="post">

                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right">Profile Settings</h4>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                            class="form-control" placeholder="Name" value="{{this.name}}" name="name">
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6"><label class="labels">Mobile Number</label><input type="text"
                                            class="form-control" placeholder="enter your Mobile number"
                                            value="{{this.mobile}}" name="mobile"></div>
                                    <div class="col-md-12"><label class="labels">Email</label><input type="email"
                                            class="form-control" placeholder="Enter email " value="{{this.email}}"
                                            name="email"></div>


                                </div>

                                <div class="mt-5 text-center">
                                    <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                                </div>
                                {{/with}}
                            </form>
                        </div>
                    </div>

                </div> --}}
            </main>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function myFunction() {
        // Get the text field
        var copyText = document.getElementById("myInput");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        Toastify({
            text: "Text Copied",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                // background: "linear-gradient(to right, #485563, #29323c)",
                background: "#404040",
            },
            onClick: function () { } // Callback after click
        }).showToast();


    }

    //Change Password
    $('#changePassword').submit((e) => {
        console.log("hi")
        e.preventDefault()
        $.ajax({
            url: "/change-password",
            method: 'post',
            data: $('#changePassword').serialize(),
            success: (response) => {
                if (response.err) {
                    document.getElementById('error').innerText = response.err;
                } else {
                    // Alert the copied text
                    Toastify({
                        text: "Password changed successfully",
                        duration: 3000,
                        gravity: "bottom", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        style: {
                            // background: "linear-gradient(to right, #485563, #29323c)",
                            background: "#404040",
                        },
                        onClick: function () { } // Callback after click
                    }).showToast();
                    $('#changePassword').each(function () {
                        this.reset();
                    });
                }
            }
        });
    });
</script>